* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1 0 auto;
}

li, a, button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; 
}

.logo {
    height: 100px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 300ms ease-in-out;
}

.nav_links li a:hover {
    color: #ffd028;
}

button {
    padding: 9px 25px;
    background-color: rgba(255, 208, 40, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: black;
    margin-left: 20px;
}

button:hover {
    background-color: #000000;
    color:#ffffff;
    transition: all 300ms ease-in-out;
}

.title {
    padding: 30px 10%; 
}

.title-header {
    font-family: 'Fjalla One', sans-serif;
    color:#24252A;
    font-size: 50px;
}

hr {
    border-top: 3px solid #ffd028;
}

.main-body {
    width: 100%;
    margin: auto;
    padding: 10px 10%; 
}

.div-side-by-side {
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 12%;
}

.left-div {
    width: 70%;
    height: 200px;
    float: left;
    padding: 10px;
    padding-right: 25px;
}

.label-header {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    border: 2px solid;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

.btn-update {
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-container {
    border-radius: 10px;
    margin-bottom: 20px;
}

.list-container:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.list-image {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    color: #24252A;
    overflow: hidden;
    height: 160px;
    width: 100%;
    top: 50%;
    left: 50%;
}

.preview {
    width: 20%;
    height: 100%;
    background-color: #ffd028;
}

.image {
    width: auto;
    height: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.activity-name {
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font: bold;
    font-size: 35px;
}

.caption {
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.cal-date {
    font-family: 'Ubuntu Condensed', sans-serif;
    font: bold;
    font-size: 60px;
    padding-left: 20px;
    padding-top: 10px;
}

.cal-month {
    font-family: 'Ubuntu Condensed', sans-serif;
    font: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-top: -50px;
}

.cal-year {
    font-family: 'Ubuntu Condensed', sans-serif;
    font: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-top: -50px;
}

.activity-venue {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.container {
    width: 30%;
    height: 59vh;
    color: #eee;
    display: flex;
    justify-content: right;
    align-items: right;
}

.right-div {
    margin-left: 15%;
    height: 200px;
}
  
  .calendar {
    width: 22rem;
    height: 26.3rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  
  .month {
    width: 100%;
    height: 7rem;
    background-color: #ffd028;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    color: #24252A;
  }
  
  .month p {
    font-size: 1.6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    color: #24252A;
  }
  
  .weekdays {
    margin-top: -0.8rem;
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;

  }
  
  .weekdays div {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    font-family: 'Ubuntu Condensed', sans-serif;
    
  }
  
  .days {
    margin-top: -0.8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.2rem;
    padding-top: -10rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(17rem / 7);
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #ffd028;
  }

  .fas {
      color: #24252A;
  }