* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; 
}

.logo {
    height: 100px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 300ms ease-in-out;
}

.nav_links li a:hover {
    color: #ffd028;
}

button {
    padding: 9px 25px;
    background-color: rgba(255, 208, 40, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: black;
    margin-left: 20px;
}

button:hover {
    background-color: #000000;
    color:#ffffff;
    transition: all 300ms ease-in-out;
}

.title {
    padding: 30px 10%; 
}

.title-header {
    font-family: 'Fjalla One', sans-serif;
    color:#24252A;
    font-size: 50px;
}

hr {
    border-top: 3px solid #ffd028;
}

.main-content {
    width: 100%;
    margin: auto;
    margin-top: -10px;
    padding: 10px 10%; 
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    width: 114em;
    grid-gap: 4rem;
    grid-template-columns: 100% 100% 100%;
    align-items: start;
}

.grid-items {
    background-color: white;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-items:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #24252A;
    text-align: center;
}

.card-text {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500px;
    font-size: 18px;
    color: #24252A;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-left: 1px;
}





