* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    width: 100%;
    margin: auto;
    margin-top: -10px;
    padding: 10px 10%; 
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 100vh;
}

li, a, button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; 
}

.logo {
    height: 100px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 300ms ease-in-out;
}

.nav_links li a:hover {
    color: #ffd028;
}

button {
    padding: 9px 25px;
    background-color: rgba(255, 208, 40, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: black;
    margin-left: 20px;
}

button:hover {
    background-color: #000000;
    color:#ffffff;
    transition: all 300ms ease-in-out;
}

.title {
    padding: 30px 10%; 
}

.title-header {
    font-family: 'Fjalla One', sans-serif;
    color:#24252A;
    font-size: 50px;
}

hr {
    border-top: 3px solid #ffd028;
}

.profile-picture {
    border-radius: 50%;
    border: 3px solid #24252A;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.profile-container {
    padding: 10px;
}

.profile-header {
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.profile-content {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500px;
    font-size: 25px;
    padding-left: 20px;
}

.label-header {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500px;
    font-size: 25px;
}


